.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rcheck/
*.Rcheck/
*.tar.gz
.DS_Store
tests/manual/Monte-Carlo-Simulation/Simulation-1/Results/*
!tests/manual/Monte-Carlo-Simulation/Simulation-1/Results/.gitkeep
!tests/manual/Monte-Carlo-Simulation/Simulation-1/Results/*.qmd
